* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 10px;
}

body {
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: 100vw;
}

main {
    width: 80%;
    margin: 2rem auto;
}
    header {
        margin-bottom: 3rem;
    }   
    
        .imgLogo {
            width: 50%;
            max-width: 65%;
        }


    section {
        margin-top: 2rem;
        color: #fff;
        text-align: center;
    }

        .imgMockup {
            width: 100%;
            margin-bottom: 3rem;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 2.5rem;
        }

        article {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.8rem;
            line-height: 3rem;
            margin: 2rem 0;
        }

        button {
            color: hsl(257, 40%, 49%);
            background-color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5rem;
            border-radius: 50px;
            width: 70%;
            height: 4rem;
            margin-bottom: 5rem;
            cursor: pointer;
        }

        button:hover {
            background-color: hsl(300, 69%, 71%);
            color: #fff;
        }
    
        footer {
            height: 10vh;
            margin: 2rem 0;
            
        }

            .social {
                display: flex;
                text-decoration: none;
                justify-content: center;
            }
            
            .social li {
                text-decoration: none;
                list-style: none;
            }

            .ico {
                color: #fff;
                font-size: 3rem;
                margin: 0 2rem;
                border: 1px solid hsl(257, 40%, 49%);
                border-radius: 50%;
                padding: 5px;
            }

            .ico:hover {
                color:hsl(300, 69%, 71%);
                border: 1px solid #fff;
            }

@media screen and (min-width: 600px) {

    main {
        width: 95%;
        
    }

    .imgLogo {
        width: 300px;
        max-width: 301px;
    }

    section {
        display: grid;
        grid-template-columns: 65% 5% 30%;
        grid-template-rows: 100%;
        grid-template-areas: "mockup . cont";
        text-align: left;
    }

        .imgMockup {
            grid-area: mockup;
        }

        .divContent {
            grid-area: cont;
            align-self: center;
        }
    
    .social {
        display: flex;
        justify-content: flex-end;
    }
}